# Database (Supabase Postgres)
DATABASE_URL=postgres://postgres:[password]@[project-ref].supabase.co:6543/postgres

# Public
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_WHATSAPP_NUMBER=541126132412
